<h1>New News Post</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_news_post_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.admin_news_post_path(@conn, :index) %></span>